:root{
    --titulo1: 'Quicksand', sans-serif;
    --titulo2: 'Quattrocento', serif;
    --colorPrincipal: #3EC5BD;
}
/********* Globales ***********/





/* Navegación */
.navegacion{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    
}

@media(max-width: 1200px) {
    .navegacion{
        text-align: center;
    }
    
}

.navegacion ul li{
    display: inline-block;
    list-style: none;
    font-family: var(--titulo1)
    
}
.navegacion ul li:last-child{
    margin-right: 0;
    
}
.navegacion ul{
    padding:0;
    margin:0
}

.link{
    color:black;
    text-decoration: none;
    font-size: 1.4rem;
    padding: 1rem;
}
.link:hover {
    color:#3EC5BD;
    text-decoration: none;
}
.linkLogin{
    color:#4CC4BD;
    font-weight: 500;
    font-size: 1.4rem;
    padding: 1rem;
    
}
.linkLogin:hover{
    background-color: #4CC4BD;
    color:white;
    text-decoration: none;
    border-radius: 0.4rem;
    
}
.contenedorItems{
    text-align: right;
} /*ul con li´s*/

@media(max-width: 1200px) {
    .contenedorItems {
        text-align: center;
    }
    .navegacion ul{
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
}


.title{
    color:#3EC5BD;
    text-transform: uppercase;
    font-family: 'Quattrocento', serif;
    font-weight: 700;
    font-size: 2.5rem;

}



/*********** Landing ************/

.landing-image{
    background-image: url(./img/landing.jpg);
    padding:0;
    height:100vh;
    width:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow:hidden;
    text-align: center;
    color:white;
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

@media(max-width: 768px) {
    .landing-image{
        height: 50vh;
    }
}

.landing-title{
    font-family: var(--titulo1);
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 5rem;
    margin-top: 2rem;
}
.motivation-phrase{
    font-family: var(--titulo2);
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}
.motivation-phrase span{
    color:var(--colorPrincipal)
}

/* Card Component */


.contenedorInfoCarta{
    font-family: var(--titulo1);
    color:black;
    font-size: 1.2rem;
    text-align: center;
}

.contenedorCarta{
    -webkit-box-shadow: 0px 11px 15px -5px rgba(125, 120, 120, 0.67);
    -moz-box-shadow: 0px 11px 15px -5px rgba(125, 120, 120, 0.67);
    box-shadow: 0px 11px 15px -5px rgba(125, 120, 120, 0.67);
}

/******* Banner *********/

.banner{  
    background-image: url(./img/banner.jpg);
    padding: 0.5rem 0 0.5rem 0;
    width:100%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    overflow:hidden;
    text-align: center;
    color:white;
    margin: 2rem 0 2rem 0;
    
 }

.texto-banner{
    font-family: var(--titulo1);
    text-align: center;
    color:white;
}

/******** Recetas favoritas *********/

.contenedorReceta{
    -webkit-box-shadow: 0px 10px 9px 0px rgba(181,181,181,1);
    -moz-box-shadow: 0px 10px 9px 0px rgba(181,181,181,1);
    box-shadow: 0px 10px 9px 0px rgba(181,181,181,1);
    margin-bottom: 1rem;
}